:root {
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
}
@font-face {
  font-family:globe;
  src: url(../font/TheGlobePersonalUseBold-2ORlw.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  html{
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body{
    color: white !important;
    font-family:'Open Sans', sans-serif !important;
    background-color: #8b1a1a !important;
    background-repeat: no-repeat;
  }
  .h1{
    font-family: globe;
    font-weight:bold;
    font-weight: 300;
    font-size: 2.7rem !important;
    color: white !important;
    position: relative;
  }
  
  .h1::after{
    content: '';
    position: absolute;
    background-color:#FF0000;
    width: 10rem;
    height: 5px;
    left: 0;
    bottom: -2rem;
    margin-bottom: 2rem;
  }
  .h2::after{
    content: '';
    position: absolute;
    background-color:#171717;
    width:5rem;
    height: 5px;
    left: 46.5%;
    bottom: -2.5rem;
    margin-bottom: 2rem;
  }
   .marq-link{
     color: #fff;
     font-family:globe;
     text-decoration:none;
}
  p{
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: 400;
  }
  .h2{
    position: relative;
    font-family: 'Inter';
    font-weight: 600 !important;
    font-size: 22px !important;
  }
  h3{
    font-family: 'Inter';
    font-weight: 700 !important;
    font-size:28px !important;
  }
  .token-li p{
    color: #e7e7e7e7;
    font-size: 1rem;
  }
  #road h3{
    font-weight: 200;
    font-size: 2.5rem !important;
  }
   article #p {
    color: #fff!important;
    font-family:nova !important;
    font-weight: 900;
   }
   .road-ul p{
    list-style:none;
    color: #e7e7e7e7;
   }
   .road-ul{
    margin: 0 auto;
   }
  ul li, a{
    text-decoration: none !important;
  }
  #buy p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans';
  }
  
  .home p{
    width: 50% !important;
    font-family: 'Open Sans';
    font-style: normal;
  }
  .nav-link{
    color: white !important;
  }
  .nav-link:hover{
   color: #171717 !important;
  }
  .span-circle{
    border-radius: 50%;
    width: 120px;
    height: 70px;
    padding: 22px;
    background:  #141b23;
    border: 2px solid #0E1217;
    color: #e7e7e7e7;
    text-align: center;
  }
.span-circle-1{
  border-radius: 50%;
  width: 80px;
  height: 70px;
  padding: 22px;
  background:  #141b23;
  border: 2px solid #0E1217;
  color: #e7e7e7e7;
  text-align: center;
}
  /* typo end */
  .navbar-brand img{
    height: 4rem;
    width:4rem;
    margin-right: 1rem;
    }
    .navbar-brand{
      font-family: globe;
    }
  /* end */
  .icon-svg{
    width: 60px;
    height: 60px;
  }


#offcanvasDarkNavbar{
    width: 250px !important;
}

.bx{
    color: #fff
    !important;
    font-size:2rem !important;
    cursor: pointer;
    z-index: 10001;
  }

  /* nav */
  .navbar-toggler:focus, .navbar-toggler:active{
    outline: none;
    border: none;
    box-shadow: none;
  }
.navbar{
    background-color: #8b1a1a;
}

.join-btn{
    padding: 13px 30px;
    display: inline-block;
    background: linear-gradient(92.29deg, #8b1a1a , #1c1c1c );
    font-size: 14px;
    border: 1px solid white;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;
}
  /* end */


  /* marquee */
  .marq{
    background-color:transparent;
    letter-spacing: 3px;
    height: 7rem;
    padding: 0;
    height: 4rem;
  }
  marquee{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  marquee a img{
    width: var(--size) !important;
  }

  .buy-text{
    width: 50%;
  }
  /* end */

  /* articles */
  
.home{
  width: 100%;
    background:url("../images/alfred.jpg");
    background-size:cover;
    background-position:center; 
    background-repeat: no-repeat;
    background-blend-mode: multiply; 
    padding: 0 !important;
  } 
 #road{
  background-color: #8b1a1a;
 }
/* sections */
.sec {
  background-color: #171717;
}
.float-comic p {
  font-family: nova;
  font-weight: 300;
  font-style: normal;
  font-size:1rem;
}
.icons .bi{
  color: #fff !important;
  font-size:2.5rem !important;
}
.buy-iframe{
  margin: 0 0 0 2rem;
}
.top-img{
      display:none;
    }
/* end */
  @media screen and (max-width:767px) {
    .home p{
      width: 100% !important;
    }
    .h2::after{
      left: 35% !important;
    }
    .buy-iframe{
      margin-left: 0 !important;
    }
    .home{
     background:black;
    }
    .top-img{
      display: block;
      /* height: 20rem; */
      padding-top: 0;
    }
  }
  @media screen and (max-width:1200px) {
    .h2::after{
      left: 44% !important;
    }
    .buy-text{
      width: 100%;
    }
    .buy-iframe{
      margin: 0 !important;
    }
  }
